:root {
    /* --std_border: 1px solid black; */
    --std_border: 1px solid transparent;
    --baseColor: rgb(255, 244, 90);
    --icon-size: 35px;
}

* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    border: var(--std_border);
}
.icon {
    width: var(--icon-size);
    align-self: center;
}
body {
    max-width: 1920px;
    margin: auto;
}

.main {
    background-image: url("./images/background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.navBar {
    margin-inline: 70px;
    display: flex;
    justify-content: space-between;
}

.navSection1 {
    display: flex;
    justify-content: center;
}

#logo {
    width: 120px;
}

#navLinks {
    font-size: 1.2em;
}

.navBar ul {
    display: flex;
}

#navLinks {
    list-style: none;
}

#navLinks a {
    text-decoration: none;
    align-self: center;
    margin-inline: 15px;
}

.navIcons {
    width: 10%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.navIcons a img {
    width: var(--icon-size);
}

.searchBox {
    background-color: transparent;
    margin-inline: 100px;
    width: calc(80% - 100px);
    margin-top: 30%;
    margin-bottom: 15%;
}

.searchBox p {
    font-weight: bold;
    font-size: 2rem;
}

.SearchBar {
    border-radius: 0 45px 45px 0;
    margin-top: 15px;
    background: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 5px rgb(159, 159, 159);
}

.SearchBar select {
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
}

.searchBtn {
    padding: 5px;
    border-radius: 50%;
    background-color: var(--baseColor);
}

.searchBtn a img {
    width: var(--icon-size);
}

/* page 2 styling */

.page2 {
    padding: 50px;
    margin-top: 50px;
    width: 100%;
}

.page2 p {
    font-size: 3em;
}

.page2cards {
    margin-top: 50px;
    overflow: auto;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    /* width: 1%; */
    /* margin-inline: auto; */
}

.page2card {
    padding: 2px;
    /* min-width: 300px; */
    cursor: pointer;
    min-height: 300px;
    /* box-shadow: 3px 3px 5px rgba(142, 142, 142, 0.499); */
    /* box-shadow: 2px 2px 5px rgb(224, 224, 224) ; */
    /* box-shadow: 1px 0px 20px rgba(183, 183, 183, 0.526), -1px -1px 0px rgba(183, 183, 183, 0.526); */
    margin-inline: 50px;
}

.page2card img {
    width: 400px;
}

.page2card:hover {
    /* box-shadow: 10px 10px 20px rgba(189, 189, 189, 0.548) ; */
    box-shadow: 20px 20px 20px 1px rgba(203, 203, 203, 0.174), -15px 0px 25px 15px rgba(203, 203, 203, 0.174);
    /* box-shadow: 7px 7px 15px rgb(142, 142, 142); */
}

/* page3 styling */

.page3 {
    padding: 50px;
    margin-top: 50px;
    width: 100%;
}

.page3 p {
    font-size: 3em;
}

.page3cards {
    margin-top: 50px;
    overflow: auto;
    display: flex;
}

.page3card {
    padding: 20px;
    max-width: 360px;
    min-width: 360px;
    margin-left: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page3card:hover {
    box-shadow: 10px 10px 20px 10px rgba(220, 220, 220, 0.22), -10px -10px 20px 10px rgba(220, 220, 220, 0.22);
}

.pg3crdimg {
    margin-inline: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pg3CardContent {
    margin-top: 20px;
    padding: 20px;
}

.pg3CardContent b {
    font-size: 1.5em;
    margin-top: 20px;
}

.pg3CardContent p {
    margin-top: 20px;
    color: rgb(111, 111, 111);
    font-size: 1.2em;
}

.pg3cardBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}

.pg3cardBtns button {
    font-weight: bold;
    font-size: 1.1em;
    background-color: #FFF45A;
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.pg3cardBtns img {
    width: var(--icon-size);
    opacity: 0.4;
}


/* page 4 styling */

.page4 {
    padding: 50px;
}

#page4title {
    font-size: 3em;
}

.page4Cards {
    padding-inline: 50px;
    display: grid;
    /* grid-template-columns: 30% 30% 30%; */
    grid-template-columns: auto auto auto;
    column-gap: 5%;
    overflow: auto;
}

.page4Card {
    display: flex;
    margin-top: 25px;
    margin-bottom: 30px;
    min-width: 320px
}

.page4Card:hover {
    box-shadow: 10px 10px 15px 0.3em rgba(208, 208, 208, 0.25), -10px -10px 15px 0.3em rgba(208, 208, 208, 0.25);
}

.pg4cardImg {
    align-self: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.pg4cardImg img {
    border-radius: 50%;
    width: 100px;
}

.pg4cardContent {
    margin-left: 20px;
    align-content: center;
}

.pg4cardContent span {
    display: flex;
}

.pg4cardContent span img {
    /* width: var(--icon-size); */
    width: 1.1em;
}

.pg4cardContent p {
    color: rgb(143, 143, 143);
}

.pg5CardProfile {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

/* page 5 styling */
.page5 {
    padding: 50px;
}

#page5title {
    font-size: 3em;
}

.page5Cards {
    padding: 80px;
    display: grid;
    grid-template-columns: 40% 40%;
    column-gap: 10%;
}

.page5Card:hover {
    box-shadow: 10px 10px 15px 0.3em rgba(208, 208, 208, 0.25), -10px -10px 15px 0.3em rgba(208, 208, 208, 0.25);
}

.pg5cardDesc {
    color: rgb(143, 143, 143);
}

.pg4profImg img {
    border-radius: 50%;
    width: 100px;
}

.pg5profContent p {
    margin-top: 5px;
    color: rgb(143, 143, 143);
}

.pg5profContent {
    margin-left: 20px;
    align-content: center;
}

/* footer styling */
.footer {
    margin-top: 50px;
}

/* inputField styling */

.inputField {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 100px;
    color: white;
    align-items: center;
    font-size: 1.5em;
}

.inputField>p:nth-child(1) {
    margin-right: 30px;
}

.inputField img {
    width: 1.5em;
}

.inputField label input {
    height: 50px;
    font-size: 0.8em;
    width: 900px;
}

.inputField label {
    background-color: white;
    width: 400px;
    padding: 0;
    display: flex;
}

.inputField label button {
    width: 100%;
    font-size: 1.1em;
    background-color: #fffabb;
}

input {
    border: none;
    width: 70%;
}

/* footer Box styling */

.footerBox {
    display: flex;
}

.footerSubBox1 {
    background: var(--baseColor);
    width: 30%;
    padding: 50px;
}
.footerSubBox1 p {
    margin-top: 15px;
}
.footerSubBox1 img {
    width: 1.1em;
}

.footerSubBox2 {
    padding: 50px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

#footerListTitle {
    font-size: 1.5em;
}

.footerSubBox2 span ul {
    list-style: none;
    padding: 10px;
}

.footerSubBox2 span ul li {
    margin-top: 10px;
}

#socialMediaLinks a img {
    width: 1.5em;
}
.screensize__ {
    visibility: hidden;
    display: none;
}

/* media query Not responsive yet */
@media only screen and (max-width : 800px) {
    body> *:not(.screensize__) {
        display: none;
    }
    .screensize__ {
        display: unset;
        /* display: flex; */
        visibility: visible;
        flex-direction: column;
        text-align: center;
        font-weight: bold;
        color: #151515;
        font-size: 1.3em;
        margin-top: 2em;
    }
}