@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

* {
    border: none;
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}

#design {
    overflow: hidden;
    height: 100vh;
    position: absolute;
    z-index: 1;
    /* width: 20vw; */
    right: 0;
    top: 0;
}

#strips {
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: relative;
    top: -10%;
    right: -20%;
}

.strip {
    background: #E7E9FA;
    height: 7em;
    position: relative;
    width: 40em;
    transform: rotate(-24.8deg);
    top: 0;
    right: 0;
}

.strip:nth-of-type(2) {
    transform: rotate(-24.5deg) translateX(7em);
}

#main::before {
    content: "";
    background: url("./images/background.png");
    background-position: top;
    background-size: 100%;
    position: fixed;
    margin: -1em;
    height:100%;
    width:100%;
    margin-inline: auto;
    max-width: 1200px;
    background-repeat: no-repeat;
    z-index: -1;

}
#main {
    background: transparent;
    position: relative;
    z-index: 3;
    padding: 1em;
    max-width: 1200px;
    margin-inline: auto;
    border: 1px solid rgb(205, 203, 203);
}

#heading {
    font-size: 2em;
    font-family: 'Roboto Slab', serif;
    color: #193A90;
}

#hero {
    padding: 1em;
    gap: 1em;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    align-items: center;
    display: flex;
}

#prof-pic * {
    margin: 0;
}

#prof-pic {
    position: relative;
    float: left;
    width: 50%;
    max-width: 300px;
    margin: 0.2em;

}

#hero-btn:hover {
    box-shadow: 2px 2px 5px rgb(202, 195, 195);
    transform: scale(0.95);
    cursor: pointer;
}

#hero-btn {
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4em;
    margin: 0;
    gap: 0.3em;
    border: 1px solid rgb(39, 39, 40);
    border-radius: 5px;
    max-width: 200px;
    margin-inline: auto;
}

#port-link>img {
    width: 28%;
}

#prof-pic>.image {
    margin-inline: auto;
    /* min-width: 100px; */
}

#prof-pic>.image>img {
    width: 100%;
    margin-bottom: -7px;
}

#desc {
    max-width: 50%;
}

.blue-txt {
    display: inline;
    color: rgb(66, 66, 203);
}

/* #content {
    display: flex;
} */

#content-b1 {
    display: flex;
    padding: 0.5em;
    gap: 1em;
}


#skills a,
#details a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

#skills,
#details,
#status {
    padding: 1em;
    border-radius: 0.5em;
    text-decoration: none;
    background: #F7F7FC;
    width: fit-content;
}

#details {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: fit-content;
    width: fit-content;
    text-align: center;
}

.big {
    font-size: calc(1em + 3px);

}

.skil {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 45% auto;
    gap: 1em;
}

.tag {
    background: #E7E9FA;
    width: fit-content;
    height: fit-content;
    padding: 0.5em;
}

#status {

    margin-top: 2em;
}
#status>* {
    margin-top: 1em;
    white-space: pre-wrap;
}
#tech {
    margin-top: 2em;
}
#tech-icons > img {
    width: 55%;
    transition: 0.2s ;
    margin-top: 1em;
}

@media only screen and (max-width: 500px) {
    #hero {
        display: unset;
    }

    #desc {
        max-width: unset;
    }

    #content-b1,
    #content-b2 {
        flex-direction: column;
    }
    #tech-icons > img {
        width: 100%;
    }
}